/* @import url ('https://fonts.googleapis.com/css2? */

/* Aula 1 - css + html */
/* 10/06/2021 - Front End 1 */
/* Personalisar a página */
/* Para personalizar a página devo colocar o que quero 
mudar e se já coloquei o "Link" no arquivo html*/
/* Por boa prátima coloque o arquivo "style.css" dentro de 
uma pasta css, bem como uma pasta "img" para imagens*/
/* Reset css, aplica os comandos para todas as tags sem exceção */
html * {
    margin: 0;
    color: cornsilk;
}

body{
    margin: 0;
    /* Centraliza o texto */
    text-align: center;
    /* Imagem de fundo */
    background-image: url(https://bit.ly/3g7ht7X);
    /* remover repetição */
    background-repeat: no-repeat;
    /* Posicionar a imagem */
    background-position: center;
    /* Altura do body */
    height: 100vh;
    /* Tamanho da imagem */
    background-size: 500px;
    /* Fixar a imagem de fundo */
    background-attachment: fixed;
    /* Cor de fundo */
    background-color: black;
    
}
#cabecalho {
    height: 20vh;
    background-color: rgb(137, 43, 226);
}

#conteudo {
    height: 60vh;
    background-color: rgba(128, 255, 0, 0.315);
}

#rodape {
    height: 20vh;
    background-color: coral;
}
.icones {
    height: 100px;
}
