/* @import url ('https://fonts.googleapis.com/css2? */

/* Aula 1 - css + html */
/* 10/06/2021 - Front End 1 */
/* Personalisar a página */
/* Para personalizar a página devo colocar o que quero 
mudar e se já coloquei o "Link" no arquivo html*/
/* Por boa prátima coloque o arquivo "style.css" dentro de 
uma pasta css, bem como uma pasta "img" para imagens*/
/* Reset css, aplica os comandos para todas as tags sem exceção */
html * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    margin: 0;
    /* Centraliza o texto */
    /* Altura do body */
    height: 100vh;
    /* Tamanho da imagem */
    background-size: 500px;
    /* Fixar a imagem de fundo */
    background-attachment: fixed;
    /* Cor de fundo */
    background-color: white;
}
#cabecalho {
    height: 10vh;
    background-color: #193dd8c7;
    text-align: left;
    display: flex;
    color: #fff;
}
#cabecalho nav{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}
#cabecalho nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
#cabecalho nav ul li{
    margin: 0 20px;
    color: white;
}

#conteudo {
    height: 80vh;
    background-color: rgba(128, 255, 0, 0);
    display: flex;
    flex-wrap: wrap;
}
.section1, .section2, .section3, .section4{
    display: flex;
    width: 500px;
    height: 45%;
    margin: 10px;
}
.div1, .div2{
    width: 50%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 img, .section2 img, .section3 img, .section4 img{
    width: 220px;
}


#rodape {
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.icones {
    height: 50px;
    margin: 0 10px;
}
